.box {

  .box-title {
    text-align: center;
    font-weight: bolder;
  }

  .box-list-container {


    background-color: @white;

    .box-list {
      padding: 0;
      margin-bottom: 0;
      list-style: none;

      li {
        padding: 5px 1rem;
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: @darkgrey;

        a {
          margin-left: 5px;
        }
      }

    }

  }
}
